language: php

php:
  - 5.3
  - 5.4

services:
  - redis-server

before_script:
  - wget http://getcomposer.org/composer.phar
  - php composer.phar install --dev

script:
  - bin/atoum -d tests/units
